
.api-primary-box {
    background: none repeat scroll 0 0 #F4F4F4;
    border-right: 1px solid #CCCCCC;
    padding: 0 22px;
    text-align: left;
	max-width: 260px;
}

ul.icon {
    margin: 0 0 22px;
    padding: 0;
}

ul.icon li {
    font: 600 13px/22px 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
    list-style-type: none;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}

.api-primary-box h2 {
    background: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, transparent 100%) repeat scroll 0 0 transparent;
    font: 400 16px/22px 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
    margin: 0 -21px;
    padding: 11px 22px;
    letter-spacing: 0px;
}

.api-primary-box a {
    color: #1155CC;
    text-decoration: none;
}

.icon-class {
    background: url("../img/class.png") no-repeat scroll 0 0 transparent;
}

.icon-interface {
    background: url("../img/interface.png") no-repeat scroll 0 0 transparent;
}

.icon-exception {
    background: url("../img/exception.png") no-repeat scroll 0 0 transparent;
}

.icon-class,
.icon-exception,
.icon-interface {
    padding-left: 22px;
    font-size: 13px;
}

.api-second-box {
	margin-left: 308px;
    padding: 22px;
}

.api-second-box h2 {
    font: 400 28px/44px 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
    margin: 0 0 22px;
    letter-spacing: 0px;
    color: #333333;
}

.api-second-box h3 {
    color: #999999;
    font: 600 14px/22px 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
    margin: 22px 0 0;
}

.api-second-box h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.api-second-box a {
	color: #1155CC;
}

.api-second-box a:hover {
	text-decoration: underline;
}

.api-second-box p {
	font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin: 22px 0;
}

.method .doc, .field .doc {
    min-height: 22px;
    padding-left: 44px;
}

span.parameter-type,
span.return-value {
    color: #1155CC;
    text-decoration: none;
}