
td.primary-box {
	padding: 10px;
	padding-right: 20px;
}

td.primary-box ul {
	padding-top: 20px;
}

td.primary-box li {
	font-size: 14x;
	padding: 7px 0 5px 10px;
	list-style: none outside none;
	border-bottom: 1px solid #ababab;
	text-align: left;
}

td.primary-box li a {
	color: #0088CC;
	text-decoration: none;
	font-size: 13px;
}

td.second-box {
	padding: 10px 15px 10px 10px;
	max-width: 650px;
}

div.doc-paragraph {
	color: #333333;
	font-size: 16px;
	line-height: 24px;
	padding: 10px;
	text-align: left;
	text-rendering: optimizelegibility;
}

div.doc-center {
	text-align: center;
	padding-left: 10px;
}

div.doc-video {
	text-align: center;
	padding: 20px;
	padding-top: 25px;
}

div.image-center {
	text-align: center;
}

div.nav-bar {
	font-family: 'Rosario', sans-serif;
	font-size: 14px;
	padding: 20px;
	text-align: left;
}

div.nav-bar a {
    color: #0088CC;
    font-size: 16px;
    text-decoration: none;
}

div.doc-paragraph h2 {
	margin: 0px;
	margin-bottom: 10px;
}

div.doc-paragraph h3, div.doc-paragraph h4 {
    margin: 10px 0 5px;
}

div.doc-paragraph h3 a, div.doc-paragraph h4 a {
	color: rgb(51, 51, 51);
}

div.doc-paragraph img {
	margin: 10px;
}

div.doc-paragraph table {
	border-left: 1px solid #ababab;
	border-top: 1px solid #ababab;
}

div.doc-paragraph td,
div.doc-paragraph th {
	border-right: 1px solid #ababab;
	border-bottom: 1px solid #ababab;
	padding: 5px;
	font-size: 12px;
}

div.doc-paragraph th {
	background: #dadada;
}

div.highlight {
	background: #A8CEBB;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 15px;
}

div.highlightb {
	background: #D5E9F6;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	font-size: 15px;
}

table.compare pre.source-code {
	width: 320px;
	font-size: 13px;
}
