.flag-item {
    background-repeat: no-repeat;
    background-position-y: 8px;
    background-position-x: 15px;
}
.flag-ad { background-image: url("/images/flags/ad.gif"); }
.flag-ae { background-image: url("/images/flags/ae.gif"); }
.flag-af { background-image: url("/images/flags/af.gif"); }
.flag-ag { background-image: url("/images/flags/ag.gif"); }
.flag-ai { background-image: url("/images/flags/ai.gif"); }
.flag-al { background-image: url("/images/flags/al.gif"); }
.flag-am { background-image: url("/images/flags/am.gif"); }
.flag-an { background-image: url("/images/flags/an.gif"); }
.flag-ao { background-image: url("/images/flags/ao.gif"); }
.flag-ar { background-image: url("/images/flags/ar.gif"); }
.flag-as { background-image: url("/images/flags/as.gif"); }
.flag-at { background-image: url("/images/flags/at.gif"); }
.flag-au { background-image: url("/images/flags/au.gif"); }
.flag-aw { background-image: url("/images/flags/aw.gif"); }
.flag-ax { background-image: url("/images/flags/ax.gif"); }
.flag-az { background-image: url("/images/flags/az.gif"); }
.flag-ba { background-image: url("/images/flags/ba.gif"); }
.flag-bb { background-image: url("/images/flags/bb.gif"); }
.flag-bd { background-image: url("/images/flags/bd.gif"); }
.flag-be { background-image: url("/images/flags/be.gif"); }
.flag-bf { background-image: url("/images/flags/bf.gif"); }
.flag-bg { background-image: url("/images/flags/bg.gif"); }
.flag-bh { background-image: url("/images/flags/bh.gif"); }
.flag-bi { background-image: url("/images/flags/bi.gif"); }
.flag-bj { background-image: url("/images/flags/bj.gif"); }
.flag-bm { background-image: url("/images/flags/bm.gif"); }
.flag-bn { background-image: url("/images/flags/bn.gif"); }
.flag-bo { background-image: url("/images/flags/bo.gif"); }
.flag-br { background-image: url("/images/flags/br.gif"); }
.flag-bs { background-image: url("/images/flags/bs.gif"); }
.flag-bt { background-image: url("/images/flags/bt.gif"); }
.flag-bv { background-image: url("/images/flags/bv.gif"); }
.flag-bw { background-image: url("/images/flags/bw.gif"); }
.flag-by { background-image: url("/images/flags/by.gif"); }
.flag-bz { background-image: url("/images/flags/bz.gif"); }
.flag-ca { background-image: url("/images/flags/ca.gif"); }
.flag-catalonia { background-image: url("/images/flags/catalonia.gif"); }
.flag-cc { background-image: url("/images/flags/cc.gif"); }
.flag-cd { background-image: url("/images/flags/cd.gif"); }
.flag-cf { background-image: url("/images/flags/cf.gif"); }
.flag-cg { background-image: url("/images/flags/cg.gif"); }
.flag-ch { background-image: url("/images/flags/ch.gif"); }
.flag-ci { background-image: url("/images/flags/ci.gif"); }
.flag-ck { background-image: url("/images/flags/ck.gif"); }
.flag-cl { background-image: url("/images/flags/cl.gif"); }
.flag-cm { background-image: url("/images/flags/cm.gif"); }
.flag-co { background-image: url("/images/flags/co.gif"); }
.flag-cr { background-image: url("/images/flags/cr.gif"); }
.flag-cs { background-image: url("/images/flags/cs.gif"); }
.flag-cu { background-image: url("/images/flags/cu.gif"); }
.flag-cv { background-image: url("/images/flags/cv.gif"); }
.flag-cx { background-image: url("/images/flags/cx.gif"); }
.flag-cy { background-image: url("/images/flags/cy.gif"); }
.flag-cz { background-image: url("/images/flags/cz.gif"); }
.flag-de { background-image: url("/images/flags/de.gif"); }
.flag-dj { background-image: url("/images/flags/dj.gif"); }
.flag-dk { background-image: url("/images/flags/dk.gif"); }
.flag-dm { background-image: url("/images/flags/dm.gif"); }
.flag-do { background-image: url("/images/flags/do.gif"); }
.flag-dz { background-image: url("/images/flags/dz.gif"); }
.flag-ec { background-image: url("/images/flags/ec.gif"); }
.flag-ee { background-image: url("/images/flags/ee.gif"); }
.flag-eg { background-image: url("/images/flags/eg.gif"); }
.flag-eh { background-image: url("/images/flags/eh.gif"); }
.flag-el { background-image: url("/images/flags/el.gif"); }
.flag-en { background-image: url("/images/flags/en.gif"); }
.flag-england { background-image: url("/images/flags/england.gif"); }
.flag-er { background-image: url("/images/flags/er.gif"); }
.flag-es { background-image: url("/images/flags/es.gif"); }
.flag-et { background-image: url("/images/flags/et.gif"); }
.flag-europeanunion { background-image: url("/images/flags/europeanunion.gif"); }
.flag-fa { background-image: url("/images/flags/fa.gif"); }
.flag-fam { background-image: url("/images/flags/fam.gif"); }
.flag-fi { background-image: url("/images/flags/fi.gif"); }
.flag-fj { background-image: url("/images/flags/fj.gif"); }
.flag-fk { background-image: url("/images/flags/fk.gif"); }
.flag-fm { background-image: url("/images/flags/fm.gif"); }
.flag-fo { background-image: url("/images/flags/fo.gif"); }
.flag-fr { background-image: url("/images/flags/fr.gif"); }
.flag-ga { background-image: url("/images/flags/ga.gif"); }
.flag-gb { background-image: url("/images/flags/gb.gif"); }
.flag-gd { background-image: url("/images/flags/gd.gif"); }
.flag-ge { background-image: url("/images/flags/ge.gif"); }
.flag-gf { background-image: url("/images/flags/gf.gif"); }
.flag-gh { background-image: url("/images/flags/gh.gif"); }
.flag-gi { background-image: url("/images/flags/gi.gif"); }
.flag-gl { background-image: url("/images/flags/gl.gif"); }
.flag-gm { background-image: url("/images/flags/gm.gif"); }
.flag-gn { background-image: url("/images/flags/gn.gif"); }
.flag-gp { background-image: url("/images/flags/gp.gif"); }
.flag-gq { background-image: url("/images/flags/gq.gif"); }
.flag-gs { background-image: url("/images/flags/gs.gif"); }
.flag-gt { background-image: url("/images/flags/gt.gif"); }
.flag-gu { background-image: url("/images/flags/gu.gif"); }
.flag-gw { background-image: url("/images/flags/gw.gif"); }
.flag-gy { background-image: url("/images/flags/gy.gif"); }
.flag-hk { background-image: url("/images/flags/hk.gif"); }
.flag-hm { background-image: url("/images/flags/hm.gif"); }
.flag-hn { background-image: url("/images/flags/hn.gif"); }
.flag-hr { background-image: url("/images/flags/hr.gif"); }
.flag-ht { background-image: url("/images/flags/ht.gif"); }
.flag-hu { background-image: url("/images/flags/hu.gif"); }
.flag-id { background-image: url("/images/flags/id.gif"); }
.flag-ie { background-image: url("/images/flags/ie.gif"); }
.flag-il { background-image: url("/images/flags/il.gif"); }
.flag-in { background-image: url("/images/flags/in.gif"); }
.flag-io { background-image: url("/images/flags/io.gif"); }
.flag-iq { background-image: url("/images/flags/iq.gif"); }
.flag-is { background-image: url("/images/flags/is.gif"); }
.flag-it { background-image: url("/images/flags/it.gif"); }
.flag-ja { background-image: url("/images/flags/ja.gif"); }
.flag-jm { background-image: url("/images/flags/jm.gif"); }
.flag-jo { background-image: url("/images/flags/jo.gif"); }
.flag-ke { background-image: url("/images/flags/ke.gif"); }
.flag-kg { background-image: url("/images/flags/kg.gif"); }
.flag-kh { background-image: url("/images/flags/kh.gif"); }
.flag-ki { background-image: url("/images/flags/ki.gif"); }
.flag-km { background-image: url("/images/flags/km.gif"); }
.flag-kn { background-image: url("/images/flags/kn.gif"); }
.flag-ko { background-image: url("/images/flags/ko.gif"); }
.flag-kp { background-image: url("/images/flags/kp.gif"); }
.flag-kw { background-image: url("/images/flags/kw.gif"); }
.flag-ky { background-image: url("/images/flags/ky.gif"); }
.flag-kz { background-image: url("/images/flags/kz.gif"); }
.flag-la { background-image: url("/images/flags/la.gif"); }
.flag-lb { background-image: url("/images/flags/lb.gif"); }
.flag-lc { background-image: url("/images/flags/lc.gif"); }
.flag-li { background-image: url("/images/flags/li.gif"); }
.flag-lk { background-image: url("/images/flags/lk.gif"); }
.flag-lr { background-image: url("/images/flags/lr.gif"); }
.flag-ls { background-image: url("/images/flags/ls.gif"); }
.flag-lt { background-image: url("/images/flags/lt.gif"); }
.flag-lu { background-image: url("/images/flags/lu.gif"); }
.flag-lv { background-image: url("/images/flags/lv.gif"); }
.flag-ly { background-image: url("/images/flags/ly.gif"); }
.flag-ma { background-image: url("/images/flags/ma.gif"); }
.flag-mc { background-image: url("/images/flags/mc.gif"); }
.flag-md { background-image: url("/images/flags/md.gif"); }
.flag-me { background-image: url("/images/flags/me.gif"); }
.flag-mg { background-image: url("/images/flags/mg.gif"); }
.flag-mh { background-image: url("/images/flags/mh.gif"); }
.flag-mk { background-image: url("/images/flags/mk.gif"); }
.flag-ml { background-image: url("/images/flags/ml.gif"); }
.flag-mm { background-image: url("/images/flags/mm.gif"); }
.flag-mn { background-image: url("/images/flags/mn.gif"); }
.flag-mo { background-image: url("/images/flags/mo.gif"); }
.flag-mp { background-image: url("/images/flags/mp.gif"); }
.flag-mq { background-image: url("/images/flags/mq.gif"); }
.flag-mr { background-image: url("/images/flags/mr.gif"); }
.flag-ms { background-image: url("/images/flags/ms.gif"); }
.flag-mt { background-image: url("/images/flags/mt.gif"); }
.flag-mu { background-image: url("/images/flags/mu.gif"); }
.flag-mv { background-image: url("/images/flags/mv.gif"); }
.flag-mw { background-image: url("/images/flags/mw.gif"); }
.flag-mx { background-image: url("/images/flags/mx.gif"); }
.flag-my { background-image: url("/images/flags/my.gif"); }
.flag-mz { background-image: url("/images/flags/mz.gif"); }
.flag-na { background-image: url("/images/flags/na.gif"); }
.flag-nc { background-image: url("/images/flags/nc.gif"); }
.flag-ne { background-image: url("/images/flags/ne.gif"); }
.flag-nf { background-image: url("/images/flags/nf.gif"); }
.flag-ng { background-image: url("/images/flags/ng.gif"); }
.flag-ni { background-image: url("/images/flags/ni.gif"); }
.flag-nl { background-image: url("/images/flags/nl.gif"); }
.flag-no { background-image: url("/images/flags/no.gif"); }
.flag-np { background-image: url("/images/flags/np.gif"); }
.flag-nr { background-image: url("/images/flags/nr.gif"); }
.flag-nu { background-image: url("/images/flags/nu.gif"); }
.flag-nz { background-image: url("/images/flags/nz.gif"); }
.flag-om { background-image: url("/images/flags/om.gif"); }
.flag-pa { background-image: url("/images/flags/pa.gif"); }
.flag-pe { background-image: url("/images/flags/pe.gif"); }
.flag-pf { background-image: url("/images/flags/pf.gif"); }
.flag-pg { background-image: url("/images/flags/pg.gif"); }
.flag-ph { background-image: url("/images/flags/ph.gif"); }
.flag-pk { background-image: url("/images/flags/pk.gif"); }
.flag-pl { background-image: url("/images/flags/pl.gif"); }
.flag-pm { background-image: url("/images/flags/pm.gif"); }
.flag-pn { background-image: url("/images/flags/pn.gif"); }
.flag-pr { background-image: url("/images/flags/pr.gif"); }
.flag-ps { background-image: url("/images/flags/ps.gif"); }
.flag-pt { background-image: url("/images/flags/pt.gif"); }
.flag-pw { background-image: url("/images/flags/pw.gif"); }
.flag-py { background-image: url("/images/flags/py.gif"); }
.flag-qa { background-image: url("/images/flags/qa.gif"); }
.flag-re { background-image: url("/images/flags/re.gif"); }
.flag-ro { background-image: url("/images/flags/ro.gif"); }
.flag-rs { background-image: url("/images/flags/rs.gif"); }
.flag-ru { background-image: url("/images/flags/ru.gif"); }
.flag-rw { background-image: url("/images/flags/rw.gif"); }
.flag-sa { background-image: url("/images/flags/sa.gif"); }
.flag-sb { background-image: url("/images/flags/sb.gif"); }
.flag-sc { background-image: url("/images/flags/sc.gif"); }
.flag-scotland { background-image: url("/images/flags/scotland.gif"); }
.flag-sd { background-image: url("/images/flags/sd.gif"); }
.flag-se { background-image: url("/images/flags/se.gif"); }
.flag-sg { background-image: url("/images/flags/sg.gif"); }
.flag-sh { background-image: url("/images/flags/sh.gif"); }
.flag-si { background-image: url("/images/flags/si.gif"); }
.flag-sj { background-image: url("/images/flags/sj.gif"); }
.flag-sk { background-image: url("/images/flags/sk.gif"); }
.flag-sl { background-image: url("/images/flags/sl.gif"); }
.flag-sm { background-image: url("/images/flags/sm.gif"); }
.flag-sn { background-image: url("/images/flags/sn.gif"); }
.flag-so { background-image: url("/images/flags/so.gif"); }
.flag-sr { background-image: url("/images/flags/sr.gif"); }
.flag-st { background-image: url("/images/flags/st.gif"); }
.flag-sv { background-image: url("/images/flags/sv.gif"); }
.flag-sy { background-image: url("/images/flags/sy.gif"); }
.flag-sz { background-image: url("/images/flags/sz.gif"); }
.flag-tc { background-image: url("/images/flags/tc.gif"); }
.flag-td { background-image: url("/images/flags/td.gif"); }
.flag-tf { background-image: url("/images/flags/tf.gif"); }
.flag-tg { background-image: url("/images/flags/tg.gif"); }
.flag-th { background-image: url("/images/flags/th.gif"); }
.flag-tj { background-image: url("/images/flags/tj.gif"); }
.flag-tk { background-image: url("/images/flags/tk.gif"); }
.flag-tl { background-image: url("/images/flags/tl.gif"); }
.flag-tm { background-image: url("/images/flags/tm.gif"); }
.flag-tn { background-image: url("/images/flags/tn.gif"); }
.flag-to { background-image: url("/images/flags/to.gif"); }
.flag-tr { background-image: url("/images/flags/tr.gif"); }
.flag-tt { background-image: url("/images/flags/tt.gif"); }
.flag-tv { background-image: url("/images/flags/tv.gif"); }
.flag-tw { background-image: url("/images/flags/tw.gif"); }
.flag-tz { background-image: url("/images/flags/tz.gif"); }
.flag-ua { background-image: url("/images/flags/ua.gif"); }
.flag-ug { background-image: url("/images/flags/ug.gif"); }
.flag-um { background-image: url("/images/flags/um.gif"); }
.flag-uy { background-image: url("/images/flags/uy.gif"); }
.flag-uz { background-image: url("/images/flags/uz.gif"); }
.flag-va { background-image: url("/images/flags/va.gif"); }
.flag-vc { background-image: url("/images/flags/vc.gif"); }
.flag-ve { background-image: url("/images/flags/ve.gif"); }
.flag-vg { background-image: url("/images/flags/vg.gif"); }
.flag-vi { background-image: url("/images/flags/vi.gif"); }
.flag-vn { background-image: url("/images/flags/vn.gif"); }
.flag-vu { background-image: url("/images/flags/vu.gif"); }
.flag-wales { background-image: url("/images/flags/wales.gif"); }
.flag-wf { background-image: url("/images/flags/wf.gif"); }
.flag-ws { background-image: url("/images/flags/ws.gif"); }
.flag-ye { background-image: url("/images/flags/ye.gif"); }
.flag-yt { background-image: url("/images/flags/yt.gif"); }
.flag-za { background-image: url("/images/flags/za.gif"); }
.flag-zh { background-image: url("/images/flags/zh.gif"); }
.flag-zm { background-image: url("/images/flags/zm.gif"); }
.flag-zw { background-image: url("/images/flags/zw.gif"); }
