.flag-ad { background-image: url("/images/ad.gif"); }
.flag-ae { background-image: url("/images/ae.gif"); }
.flag-af { background-image: url("/images/af.gif"); }
.flag-ag { background-image: url("/images/ag.gif"); }
.flag-ai { background-image: url("/images/ai.gif"); }
.flag-al { background-image: url("/images/al.gif"); }
.flag-am { background-image: url("/images/am.gif"); }
.flag-an { background-image: url("/images/an.gif"); }
.flag-ao { background-image: url("/images/ao.gif"); }
.flag-ar { background-image: url("/images/ar.gif"); }
.flag-as { background-image: url("/images/as.gif"); }
.flag-at { background-image: url("/images/at.gif"); }
.flag-au { background-image: url("/images/au.gif"); }
.flag-aw { background-image: url("/images/aw.gif"); }
.flag-ax { background-image: url("/images/ax.gif"); }
.flag-az { background-image: url("/images/az.gif"); }
.flag-ba { background-image: url("/images/ba.gif"); }
.flag-bb { background-image: url("/images/bb.gif"); }
.flag-bd { background-image: url("/images/bd.gif"); }
.flag-be { background-image: url("/images/be.gif"); }
.flag-bf { background-image: url("/images/bf.gif"); }
.flag-bg { background-image: url("/images/bg.gif"); }
.flag-bh { background-image: url("/images/bh.gif"); }
.flag-bi { background-image: url("/images/bi.gif"); }
.flag-bj { background-image: url("/images/bj.gif"); }
.flag-bm { background-image: url("/images/bm.gif"); }
.flag-bn { background-image: url("/images/bn.gif"); }
.flag-bo { background-image: url("/images/bo.gif"); }
.flag-br { background-image: url("/images/br.gif"); }
.flag-bs { background-image: url("/images/bs.gif"); }
.flag-bt { background-image: url("/images/bt.gif"); }
.flag-bv { background-image: url("/images/bv.gif"); }
.flag-bw { background-image: url("/images/bw.gif"); }
.flag-by { background-image: url("/images/by.gif"); }
.flag-bz { background-image: url("/images/bz.gif"); }
.flag-ca { background-image: url("/images/ca.gif"); }
.flag-catalonia { background-image: url("/images/catalonia.gif"); }
.flag-cc { background-image: url("/images/cc.gif"); }
.flag-cd { background-image: url("/images/cd.gif"); }
.flag-cf { background-image: url("/images/cf.gif"); }
.flag-cg { background-image: url("/images/cg.gif"); }
.flag-ch { background-image: url("/images/ch.gif"); }
.flag-ci { background-image: url("/images/ci.gif"); }
.flag-ck { background-image: url("/images/ck.gif"); }
.flag-cl { background-image: url("/images/cl.gif"); }
.flag-cm { background-image: url("/images/cm.gif"); }
.flag-co { background-image: url("/images/co.gif"); }
.flag-cr { background-image: url("/images/cr.gif"); }
.flag-cs { background-image: url("/images/cs.gif"); }
.flag-cu { background-image: url("/images/cu.gif"); }
.flag-cv { background-image: url("/images/cv.gif"); }
.flag-cx { background-image: url("/images/cx.gif"); }
.flag-cy { background-image: url("/images/cy.gif"); }
.flag-cz { background-image: url("/images/cz.gif"); }
.flag-de { background-image: url("/images/de.gif"); }
.flag-dj { background-image: url("/images/dj.gif"); }
.flag-dk { background-image: url("/images/dk.gif"); }
.flag-dm { background-image: url("/images/dm.gif"); }
.flag-do { background-image: url("/images/do.gif"); }
.flag-dz { background-image: url("/images/dz.gif"); }
.flag-ec { background-image: url("/images/ec.gif"); }
.flag-ee { background-image: url("/images/ee.gif"); }
.flag-eg { background-image: url("/images/eg.gif"); }
.flag-eh { background-image: url("/images/eh.gif"); }
.flag-el { background-image: url("/images/el.gif"); }
.flag-en { background-image: url("/images/en.gif"); }
.flag-england { background-image: url("/images/england.gif"); }
.flag-er { background-image: url("/images/er.gif"); }
.flag-es { background-image: url("/images/es.gif"); }
.flag-et { background-image: url("/images/et.gif"); }
.flag-europeanunion { background-image: url("/images/europeanunion.gif"); }
.flag-fa { background-image: url("/images/fa.gif"); }
.flag-fam { background-image: url("/images/fam.gif"); }
.flag-fi { background-image: url("/images/fi.gif"); }
.flag-fj { background-image: url("/images/fj.gif"); }
.flag-fk { background-image: url("/images/fk.gif"); }
.flag-fm { background-image: url("/images/fm.gif"); }
.flag-fo { background-image: url("/images/fo.gif"); }
.flag-fr { background-image: url("/images/fr.gif"); }
.flag-ga { background-image: url("/images/ga.gif"); }
.flag-gb { background-image: url("/images/gb.gif"); }
.flag-gd { background-image: url("/images/gd.gif"); }
.flag-ge { background-image: url("/images/ge.gif"); }
.flag-gf { background-image: url("/images/gf.gif"); }
.flag-gh { background-image: url("/images/gh.gif"); }
.flag-gi { background-image: url("/images/gi.gif"); }
.flag-gl { background-image: url("/images/gl.gif"); }
.flag-gm { background-image: url("/images/gm.gif"); }
.flag-gn { background-image: url("/images/gn.gif"); }
.flag-gp { background-image: url("/images/gp.gif"); }
.flag-gq { background-image: url("/images/gq.gif"); }
.flag-gs { background-image: url("/images/gs.gif"); }
.flag-gt { background-image: url("/images/gt.gif"); }
.flag-gu { background-image: url("/images/gu.gif"); }
.flag-gw { background-image: url("/images/gw.gif"); }
.flag-gy { background-image: url("/images/gy.gif"); }
.flag-hk { background-image: url("/images/hk.gif"); }
.flag-hm { background-image: url("/images/hm.gif"); }
.flag-hn { background-image: url("/images/hn.gif"); }
.flag-hr { background-image: url("/images/hr.gif"); }
.flag-ht { background-image: url("/images/ht.gif"); }
.flag-hu { background-image: url("/images/hu.gif"); }
.flag-id { background-image: url("/images/id.gif"); }
.flag-ie { background-image: url("/images/ie.gif"); }
.flag-il { background-image: url("/images/il.gif"); }
.flag-in { background-image: url("/images/in.gif"); }
.flag-io { background-image: url("/images/io.gif"); }
.flag-iq { background-image: url("/images/iq.gif"); }
.flag-is { background-image: url("/images/is.gif"); }
.flag-it { background-image: url("/images/it.gif"); }
.flag-ja { background-image: url("/images/ja.gif"); }
.flag-jm { background-image: url("/images/jm.gif"); }
.flag-jo { background-image: url("/images/jo.gif"); }
.flag-ke { background-image: url("/images/ke.gif"); }
.flag-kg { background-image: url("/images/kg.gif"); }
.flag-kh { background-image: url("/images/kh.gif"); }
.flag-ki { background-image: url("/images/ki.gif"); }
.flag-km { background-image: url("/images/km.gif"); }
.flag-kn { background-image: url("/images/kn.gif"); }
.flag-ko { background-image: url("/images/ko.gif"); }
.flag-kp { background-image: url("/images/kp.gif"); }
.flag-kw { background-image: url("/images/kw.gif"); }
.flag-ky { background-image: url("/images/ky.gif"); }
.flag-kz { background-image: url("/images/kz.gif"); }
.flag-la { background-image: url("/images/la.gif"); }
.flag-lb { background-image: url("/images/lb.gif"); }
.flag-lc { background-image: url("/images/lc.gif"); }
.flag-li { background-image: url("/images/li.gif"); }
.flag-lk { background-image: url("/images/lk.gif"); }
.flag-lr { background-image: url("/images/lr.gif"); }
.flag-ls { background-image: url("/images/ls.gif"); }
.flag-lt { background-image: url("/images/lt.gif"); }
.flag-lu { background-image: url("/images/lu.gif"); }
.flag-lv { background-image: url("/images/lv.gif"); }
.flag-ly { background-image: url("/images/ly.gif"); }
.flag-ma { background-image: url("/images/ma.gif"); }
.flag-mc { background-image: url("/images/mc.gif"); }
.flag-md { background-image: url("/images/md.gif"); }
.flag-me { background-image: url("/images/me.gif"); }
.flag-mg { background-image: url("/images/mg.gif"); }
.flag-mh { background-image: url("/images/mh.gif"); }
.flag-mk { background-image: url("/images/mk.gif"); }
.flag-ml { background-image: url("/images/ml.gif"); }
.flag-mm { background-image: url("/images/mm.gif"); }
.flag-mn { background-image: url("/images/mn.gif"); }
.flag-mo { background-image: url("/images/mo.gif"); }
.flag-mp { background-image: url("/images/mp.gif"); }
.flag-mq { background-image: url("/images/mq.gif"); }
.flag-mr { background-image: url("/images/mr.gif"); }
.flag-ms { background-image: url("/images/ms.gif"); }
.flag-mt { background-image: url("/images/mt.gif"); }
.flag-mu { background-image: url("/images/mu.gif"); }
.flag-mv { background-image: url("/images/mv.gif"); }
.flag-mw { background-image: url("/images/mw.gif"); }
.flag-mx { background-image: url("/images/mx.gif"); }
.flag-my { background-image: url("/images/my.gif"); }
.flag-mz { background-image: url("/images/mz.gif"); }
.flag-na { background-image: url("/images/na.gif"); }
.flag-nc { background-image: url("/images/nc.gif"); }
.flag-ne { background-image: url("/images/ne.gif"); }
.flag-nf { background-image: url("/images/nf.gif"); }
.flag-ng { background-image: url("/images/ng.gif"); }
.flag-ni { background-image: url("/images/ni.gif"); }
.flag-nl { background-image: url("/images/nl.gif"); }
.flag-no { background-image: url("/images/no.gif"); }
.flag-np { background-image: url("/images/np.gif"); }
.flag-nr { background-image: url("/images/nr.gif"); }
.flag-nu { background-image: url("/images/nu.gif"); }
.flag-nz { background-image: url("/images/nz.gif"); }
.flag-om { background-image: url("/images/om.gif"); }
.flag-pa { background-image: url("/images/pa.gif"); }
.flag-pe { background-image: url("/images/pe.gif"); }
.flag-pf { background-image: url("/images/pf.gif"); }
.flag-pg { background-image: url("/images/pg.gif"); }
.flag-ph { background-image: url("/images/ph.gif"); }
.flag-pk { background-image: url("/images/pk.gif"); }
.flag-pl { background-image: url("/images/pl.gif"); }
.flag-pm { background-image: url("/images/pm.gif"); }
.flag-pn { background-image: url("/images/pn.gif"); }
.flag-pr { background-image: url("/images/pr.gif"); }
.flag-ps { background-image: url("/images/ps.gif"); }
.flag-pt { background-image: url("/images/pt.gif"); }
.flag-pw { background-image: url("/images/pw.gif"); }
.flag-py { background-image: url("/images/py.gif"); }
.flag-qa { background-image: url("/images/qa.gif"); }
.flag-re { background-image: url("/images/re.gif"); }
.flag-ro { background-image: url("/images/ro.gif"); }
.flag-rs { background-image: url("/images/rs.gif"); }
.flag-ru { background-image: url("/images/ru.gif"); }
.flag-rw { background-image: url("/images/rw.gif"); }
.flag-sa { background-image: url("/images/sa.gif"); }
.flag-sb { background-image: url("/images/sb.gif"); }
.flag-sc { background-image: url("/images/sc.gif"); }
.flag-scotland { background-image: url("/images/scotland.gif"); }
.flag-sd { background-image: url("/images/sd.gif"); }
.flag-se { background-image: url("/images/se.gif"); }
.flag-sg { background-image: url("/images/sg.gif"); }
.flag-sh { background-image: url("/images/sh.gif"); }
.flag-si { background-image: url("/images/si.gif"); }
.flag-sj { background-image: url("/images/sj.gif"); }
.flag-sk { background-image: url("/images/sk.gif"); }
.flag-sl { background-image: url("/images/sl.gif"); }
.flag-sm { background-image: url("/images/sm.gif"); }
.flag-sn { background-image: url("/images/sn.gif"); }
.flag-so { background-image: url("/images/so.gif"); }
.flag-sr { background-image: url("/images/sr.gif"); }
.flag-st { background-image: url("/images/st.gif"); }
.flag-sv { background-image: url("/images/sv.gif"); }
.flag-sy { background-image: url("/images/sy.gif"); }
.flag-sz { background-image: url("/images/sz.gif"); }
.flag-tc { background-image: url("/images/tc.gif"); }
.flag-td { background-image: url("/images/td.gif"); }
.flag-tf { background-image: url("/images/tf.gif"); }
.flag-tg { background-image: url("/images/tg.gif"); }
.flag-th { background-image: url("/images/th.gif"); }
.flag-tj { background-image: url("/images/tj.gif"); }
.flag-tk { background-image: url("/images/tk.gif"); }
.flag-tl { background-image: url("/images/tl.gif"); }
.flag-tm { background-image: url("/images/tm.gif"); }
.flag-tn { background-image: url("/images/tn.gif"); }
.flag-to { background-image: url("/images/to.gif"); }
.flag-tr { background-image: url("/images/tr.gif"); }
.flag-tt { background-image: url("/images/tt.gif"); }
.flag-tv { background-image: url("/images/tv.gif"); }
.flag-tw { background-image: url("/images/tw.gif"); }
.flag-tz { background-image: url("/images/tz.gif"); }
.flag-ua { background-image: url("/images/ua.gif"); }
.flag-ug { background-image: url("/images/ug.gif"); }
.flag-um { background-image: url("/images/um.gif"); }
.flag-uy { background-image: url("/images/uy.gif"); }
.flag-uz { background-image: url("/images/uz.gif"); }
.flag-va { background-image: url("/images/va.gif"); }
.flag-vc { background-image: url("/images/vc.gif"); }
.flag-ve { background-image: url("/images/ve.gif"); }
.flag-vg { background-image: url("/images/vg.gif"); }
.flag-vi { background-image: url("/images/vi.gif"); }
.flag-vn { background-image: url("/images/vn.gif"); }
.flag-vu { background-image: url("/images/vu.gif"); }
.flag-wales { background-image: url("/images/wales.gif"); }
.flag-wf { background-image: url("/images/wf.gif"); }
.flag-ws { background-image: url("/images/ws.gif"); }
.flag-ye { background-image: url("/images/ye.gif"); }
.flag-yt { background-image: url("/images/yt.gif"); }
.flag-za { background-image: url("/images/za.gif"); }
.flag-zh { background-image: url("/images/zh.gif"); }
.flag-zm { background-image: url("/images/zm.gif"); }
.flag-zw { background-image: url("/images/zw.gif"); }