body {
	color: #333333;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
    line-height: 22px;
	border-top: 2px solid #686868;
	margin: 0;
	min-width: 990px;
	padding: 0;
	text-align: center;
}

#header {
	margin: 0 0px;
	text-align: center;
}

#header h1 {
	float: left;
	margin: 0;
}

#header h1 img {
	height: 40px;
	margin: 10px;
	margin-left: 20px;
	margin-right: 30px;
}

#nav-main {
    font-family: "Helvetica",sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    background-color: #2C2C2C;
	background-image: -moz-linear-gradient(center top , #333333, #222222);
	padding-bottom: 5px;
}

#nav-main div.menubar {
    margin: 0;
    padding: 0;
}

#nav-main div.nav-main-features {
	list-style: none outside none;
	background: none repeat scroll 0 0 transparent;
	display: table-cell;
	margin: 0 0 0 -1px;
	padding: 10px 7px 10px 10px;
	position: relative;
}

#nav-main div.nav-main-features a {
    color: #DADADA;
    display: block;
    float: left;
    height: 18px;
    padding: 10px 25px 7px 7px;
    position: relative;
    text-decoration: none;
    z-index: 100;
}

#nav-main div.nav-main-features a:hover {
	color: #D3EBE3;
}

div#main-content {
	margin-top: 50px;
}

table.main-table {
	width: 900px;
}

div.name {
	padding: 10px;
	padding-top: 40px;
	padding-right: 40px;
	display: block;
	font: italic 32px/35px;
	color: #444444;
}

div.name a {
	color: #444444;
	text-decoration: underline;
}

div.subname {
	font-family: Rosario, sans-serif;
	font-style: normal;
	font-size: 56px;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: -3px;
}

div.name p {
	font: italic 18px;
	padding-top: 12px;
	letter-spacing: 0px;
	font-size: 16px;
	margin: 5px 5px 15px;
}

#footer {
	background: none repeat scroll 0 0 #252525;
	clear: both;
	color: #FAFAFA;
	display: block;
	margin-top: 50px;
	padding: 50px 10px 50px;
}

#footer label {
    color: #FFFFFF;
    font-family: MetaBlack,"Trebuchet MS",sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#footer table.footer-table {
	width: 800px;
}

#footer a {
	color: #d3ebe3;
}

#footer td.subscribe,
#footer td.social {
	width: 25%;
	line-height: 22px;
}

#footer td.tweets {
	width: 40%;
	padding-right: 60px;
}

#footer td.tweets li,
#footer td.tweets ul {
	margin: 0px;
	padding: 0px;
	list-style: none outside none;
}

#footer input[type="submit"] {
	background: #0B683C;
	padding: 5px;
	color: #fafafa;
	border: none;
	border-radius: 5px;
}

div.errorMessage {
	background: none repeat scroll 0 0 #B11A04;
	border: medium none;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	font-family: "Open Sans",sans-serif;
	padding: 10px;
	margin: 10px;
	text-align: left;
}

div.successMessage {
	background: none repeat scroll 0 0 #80BA36;
	border: medium none;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	font-family: "Open Sans",sans-serif;
	padding: 10px;
	margin: 10px;
	text-align: left;
}

div.btn {
	font-family: "Open Sans",sans-serif;
	font-style: normal;
	font-size: 20px;
	letter-spacing: 0px;
	text-align: center;
	padding: 10px;
	display: block;
	margin: 0 0 10px 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: white;
	overflow: visible;
	width: 150px;
	zoom: 1;
}

div.documentation {
    background: -moz-linear-gradient(center top , #2D9A6D 0%, #227653 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2D9A6D), color-stop(100%,#227653));
	background: linear-gradient(top, #2D9A6D 0%, #227653 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2D9A6D', endColorstr='#227653',GradientType=0 );
	-moz-transition: box-shadow 0.2s ease-in-out;
	-webit-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1), inset 0 -4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1), inset 0 -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    color: white;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 0;
    margin: 0 0 10px 0;
    overflow: visible;
    padding: 10px;
    text-align: center;
    width: 220px;
}

div.name a.no-decoration {
	text-decoration: none;
}

div.sub-content {
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    margin-top: 0px;
    width: 70%;
}

div.sub {
	padding: 20px;
	display: table-cell;
	width: 25%;
	font-size: 22px;
	line-height: 24px;
}

div.sub a {
	color: #333333;
}

div.sub img {
	width: 96px;
}

div.sub span {
	font-size: 16px;
}

div.page {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	margin-top: 40px;
}

div.subheader {
    border-bottom: 1px solid #666666;
    clear: both;
    height: 34px;
    margin-bottom: 15px;
}

#tabs {
    float: right;
    font-weight: bold;
}

#tabs a {
    background: inherit;
    border: 1px solid #FFFFFF;
    color: #777777;
    display: block;
    float: left;
    font-size: 90%;
    height: 24px;
    line-height: 22px;
    margin: 8px 8px 0 0;
    padding: 0 11px;
    text-decoration: none;
}

#tabs a.youarehere {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #777777 #777777 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: black;
    font-size: 120%;
    height: 30px;
    line-height: 28px;
    margin-top: 3px;
    padding: 0 11px;
}

h2 {
	color: #000000;
	display: block;
	/*font: italic 36px Georgia,"Times New Roman",Times,serif;
	letter-spacing: -3px;
	text-rendering: optimizelegibility;*/
	font: 400 30px/44px 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
	margin: 0;
}

.titleContent {
	letter-spacing: 1px;
	font-size: 22px;
	font-weight: normal;
}

.tableFormat1 {
    font: 45px;
    font-size: 15px;
}

.cellDown td {
    border-bottom: 2px solid #DDD;
    margin-right: 10px;
}

.tableFormat2 td {
    font-size: 15px;
    line-height: 23px;
    text-align: left;
}

.tableFormat2 h4 {
	margin: 0px;
	margin-top: 15px;
}

.tableFormat2 pre {
	font-style: normal;
	line-height: 16px;
}

a {
    color: #0088CC;
    text-decoration: none;
}

div.doc-box {
	background-color: #F5F5F5;
	border-radius: 10px 10px 10px 10px;
	padding: 32px;
	font-family: "Open Sans", sans-serif;
	line-height: 23px;
	margin-bottom: 15px;
}

div.doc-box h2 {
	margin: 0px;
	margin-bottom: 15px;
}

h3 {
	margin: 0px;
	margin-top: 15px;
	margin-bottom: 10px;
}

div.doc-box td {
	color: #333333;
	text-align: left;
	font-size: 16px;
}

div.doc-box img {
	width: 128px;
	padding-right: 20px;
}

table.resume td {
	border-left: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}

table.resume {
	border-right: 1px solid #dadada;
	border-top: 1px solid #dadada;
}

iframe.present_iframe {
	border:0;
	padding:0;
	margin:0;
	background:transparent;
}

#github-con {
	position: absolute;
	top: 0;
	right: 0;
	width: 220px;
	height: 180px;
	overflow: hidden;
	padding-top: 40px;
}

#github {
	background-color: #6FB52E;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-box-shadow: 0 0 0 1px #1d212e inset,0 0 2px 1px #fff inset,0 0 1em #333333;
	-moz-box-shadow: 0 0 0 1px #1d212e inset,0 0 2px 1px #fff inset,0 0 1em #333333;
	box-shadow: 0 0 0 1px #1d212e inset,0 0 2px 1px #fff inset,0 0 1em #333333;
	color: rgba(255,255,255,0.90);
	padding: .6em 3.5em;
	font: bold 12px sans-serif;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px -1px 8px rgba(0,0,0,0.60);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}

#github a {
	color: #fff;
}

div.about-bg {
	background: url("../img/watermark.png") no-repeat scroll 500px 50px #FFFFFF;
	width: 99%;
}

div.about {
	color: #222222;
	width: 650px;
	font-size: 16px;
	text-align: left;
	margin-left: 100px;
	margin-top: 70px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 15px;
	padding-top: 10px;
	line-height: 22px;
}

div.about li {
	color: #222222;
	font-size: 16px;
	text-align: left;
	line-height: 25px;
	margin: 5px;
}

div.highlightb {
	color: #414141;
	font-family: "Open Sans",sans-serif;
	background: none repeat scroll 0 0 #D5E9F6;
	line-height: 24px;
	padding: 10px;
	text-align: left;
	text-rendering: optimizelegibility;
	font-size: 15px;
	background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}

.btn-download {
	background-color: hsl(109, 66%, 23%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3fb625", endColorstr="#226113");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#3fb625), to(#226113));
	background-image: -moz-linear-gradient(top, #3fb625, #226113);
	background-image: -ms-linear-gradient(top, #3fb625, #226113);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fb625), color-stop(100%, #226113));
	background-image: -webkit-linear-gradient(top, #3fb625, #226113);
	background-image: -o-linear-gradient(top, #3fb625, #226113);
	background-image: linear-gradient(#3fb625, #226113);
	border-color: #226113 #226113 hsl(109, 66%, 18%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}

.btn-try {
	background-color: hsl(201, 66%, 32%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#339cd5", endColorstr="#1b6187");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#339cd5), to(#1b6187));
	background-image: -moz-linear-gradient(top, #339cd5, #1b6187);
	background-image: -ms-linear-gradient(top, #339cd5, #1b6187);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #339cd5), color-stop(100%, #1b6187));
	background-image: -webkit-linear-gradient(top, #339cd5, #1b6187);
	background-image: -o-linear-gradient(top, #339cd5, #1b6187);
	background-image: linear-gradient(#339cd5, #1b6187);
	border-color: #1b6187 #1b6187 hsl(201, 66%, 27%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}

tr.cellDown span {
	font-size: 11px;
	color: #333333;
}

tr.downloadCell a {
	font-size: 13px;
	float: right;
	padding-left: 5px;
}

pre.source-code {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    display: block;
    font-size: 13px;
    line-height: 17px;
    padding: 5px;
    padding-left: 10px;
    word-wrap: break-word;
    margin-top: 10px;
}