@import url("styles/ir_black.css");

pre .title {
    font-family: Courier;
}

/* ---------- Default */
body {
	background: url('../img/noise-f1.gif') repeat top left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* ---------- Github */
#github-con {
	position: absolute;
	top: 0;
	right: 0;
	width: 230px;
	height: 180px;
	overflow: hidden;
	padding-top: 40px;
	z-index: 1031;
}

#github-con #github {
	background-color: #6FB52E;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-box-shadow: 0 0 0 1px #1d212e inset,0 0 2px 1px #fff inset,0 0 1em #333333;
	-moz-box-shadow: 0 0 0 1px #1d212e inset,0 0 2px 1px #fff inset,0 0 1em #333333;
	box-shadow: 0 0 0 1px #1d212e inset,0 0 2px 1px #fff inset,0 0 1em #333333;
	color: rgba(255,255,255,0.90);
	padding: .6em 3.5em;
	font: bold 12px sans-serif;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px -1px 8px rgba(0,0,0,0.60);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#github-con #github a {
	color: #fff;
}

#github-con #github a:hover {
	text-decoration: none;
}

/* ---------- Header */
header {}
header .navbar { margin-bottom: 0px; }
header .navbar-inner { border: none; border-bottom: 1px solid #000; border-radius: 0px; }
header .navbar-inner { background: #1A1A1A; }
header .navbar-inner .brand img { height: 30px; }
header .navbar-inner .nav { margin-top: 5px; margin-right: 100px; }
header .navbar-inner .nav li { text-transform: uppercase; font-size: 12px; font-weight: bold; margin-right: 5px; }
header .navbar-inner .nav li > a { color: #dadada; text-shadow: none; }
header .navbar-inner .nav li > a:hover { color: #d3ebe3; }
header .navbar-inner .nav li > a:active { position: relative; top: 2px; }
header .navbar-inner .nav li.active {}
header .navbar-inner .nav li.active > a { color: #dadada; background: none; box-shadow: none; }
header .navbar-inner .nav li.active > a:hover { background: none; box-shadow: none; color: #d3ebe3; }

/* ---------- Containers */
#content { padding-top: 0px; text-shadow: 0px 1px 0px rgba(255,255,255, 1); text-align: center; }
#content .hero-unit { background: transparent; margin: 0px; padding: 0px; }
#content .hero-unit h1 { font-size: 38px; }
#content .hero-unit .btn-group { margin-top: 20px; }
#content .hero-unit .btn-group button { padding: 20px 70px; }
#content .hero-unit .featured { margin-top: 40px; }
#content .hero-unit .featured-specs { font-size: 15px; margin-top: 20px; margin-bottom: 15px; }
#content .hero-unit .featured-specs li { line-height: 23px; }
#content .featured-points { margin-top: 70px; }
#content .featured-points img { height: 96px; margin-bottom: 5px; position: relative; width: 96px; }
#content .featured-points > div > a:hover > img { top: -8px; transition: top .3s; -moz-transition: top .3s; -webkit-transition: top .3s; -o-transition: top .3s; }
#content .secondary-block { text-align: left; margin-bottom: 30px; }

/* ---------- Section Images */
img .header-image { width: 32px; height: 32px; border: none }

/* ---------- Sidebar */
aside {}
aside .sidebar-nav { float: right; max-width: 150px; border-radius: 0px; box-shadow: 0px 3px 5px rgba(0,0,0, 0.095); }


/* ---------- Footer */
footer { background: url('/img/navy_blue.png') repeat top left; color: #fff; margin-top: 0px; padding: 20px 20px; position: relative; }
footer a, footer a:hover { color: #d3ebe3; text-decoration: none; }
footer ul { display: block; }
footer ul li {}
footer ul li a {}
footer ul li a:active { position: relative; top: 1px; }
footer ul li.nav-header { color: #fff; font-size: 15px; padding-left: 0px; text-shadow: none; }
footer h5 { margin-top: 0px; text-transform: uppercase; }

.btn {
	margin: 5px;
}

.btn-success {
	background: #5CA384;
}

.btn-success:hover {
	background: #5CA384;
}

.btn-primary {
	background: #23838F;
}

.btn-primary:hover {
	background: #23838F;
}

div.intro-review {
	border-radius: 5px;
	border: 1px solid #eaeaea;
	margin-top: 20px;
	background: #fff;
	padding: 0px;
	padding-left: 15px;
	padding-top: 25px;
}

div.intro-review h2 {
	color: #303032;
	letter-spacing: -1px;
	font-size: 44px;
	text-shadow: none;
}

div.intro-review h5 {
	color: #333333;
	font-size: 16px;
	text-shadow: none;
}

div.featured {
	background: #262626;
	border-radius: 5px;
	padding: 20px;
	width: 91%;
	padding-left: 70px;
	padding-bottom: 10px;
}

div.features {
	color: #616161;
	background: #EFEFEF;
	border-radius: 5px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	width:  90%;
	margin-top: 30px;
}

/*div.features a {
	color: #84BCCC;
	background: #e1e1e1;
	font-weight: normal;
	text-shadow: none;
	padding: 10px;
	line-height: 50px;
	border-radius: 5px;
}*/

div.featured div.span6,
div.features div.span4 {
	text-align: left;
}

div.features div.span3:first-child {
	text-align: right;
}

div.featured h2 {
	color: #73D686;
	font-size: 42px;
	text-shadow: none;
	margin: 0px;
	margin-top: 50px;
	line-height: 44px;
}

div.featured iframe {
	margin-left: 30px;
	margin-top: 10px;
}

div.features h2 {
	color: #616161;
	font-weight: bold;
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 15px;
}

div.featured h4 {
	color: #73D686;
	text-shadow: none;
}

div.featured h2 {
	text-transform: uppercase;
}

div.main-footer {
	color: #717171;
	/*background: #303145;*/
	border-radius: 5px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	width:  90%;
	margin-top: 30px;
}

div.main-footer div.block {
	font-size: 18px;
	text-align: left;
	border-radius: 5px;
	text-shadow: none;
	padding: 20px;
	line-height: 22px;
}

div.main-footer div.info {
	background: #DFDFDF;
	color: #717171;
}

div.main-footer div.info input {
	background: #E66C45;
}

div.main-footer div.info input {
	background: #E66C45;
	border: none;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	color: #ffffff;
}

div.main-footer div.info a.flattr {
	background: #3A896F;
	border: none;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	color: #ffffff;
}

div.main-footer div.block a {
	color: #fff;
	font-size: 15px;
	line-height: 18px;
}

div.main-footer div.block li {
	line-height: 18px;
}

div.main-footer div.info h4 {
	color: #717171;
}

div.main-footer div.info form {
	margin-top: 10px;
}

div.main-footer-inner {
	width: 90%;
	margin-left: 100px;
}

#content pre,
#content code {
	text-shadow: none;
}

div.main-footer {
	background: rgba(11, 11, 11, 0.9);
	width: 100%;
	color: #fff;
	min-height: 70px;
	border-top: 1px solid rgba(0,0,0,0.1);
	margin-top: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom: 20px;
}

.tabs-left > .nav-tabs {
	margin-right: 0px;
}

.tab-content {
	padding-left: 15px;
	background: #fff;
	padding-top: 15px;
	padding-bottom: 10px;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.author {
	background: #fff;
	padding: 25px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding-right: 50px;
}

.author h4 {
	color: #333;
}

.bio p {
	color: #717171;
}

pre code {
	background: #333;
}

.main-block {
	background: #fff;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding-left: 15px;
}

.hero-unit li {
	line-height: 24px;
}

div.about {
	font-size: 14px;
}

div.ribbon {
	width: 50px;
}

.main-footer h4 {

}