.flag-pl  { background-image: url("../img/flags/pl.gif"); }
.flag-bg  { background-image: url("../img/flags/bg.gif"); }
.flag-cz  { background-image: url("../img/flags/cz.gif"); }
.flag-de  { background-image: url("../img/flags/de.gif"); }
.flag-el  { background-image: url("../img/flags/el.gif"); }
.flag-en  { background-image: url("../img/flags/en.gif"); }
.flag-es  { background-image: url("../img/flags/es.gif"); }
.flag-fa  { background-image: url("../img/flags/fa.gif"); }
.flag-fr  { background-image: url("../img/flags/fr.gif"); }
.flag-hu  { background-image: url("../img/flags/hu.gif"); }
.flag-ja  { background-image: url("../img/flags/ja.gif"); }
.flag-it  { background-image: url("../img/flags/it.gif"); }
.flag-ko  { background-image: url("../img/flags/ko.gif"); }
.flag-lt  { background-image: url("../img/flags/lt.gif"); }
.flag-mk  { background-image: url("../img/flags/mk.gif"); }
.flag-lt  { background-image: url("../img/flags/lt.gif"); }
.flag-nl  { background-image: url("../img/flags/nl.gif"); }
.flag-pl  { background-image: url("../img/flags/pl.gif"); }
.flag-pt  { background-image: url("../img/flags/pt.gif"); }
.flag-ro  { background-image: url("../img/flags/ro.gif"); }
.flag-ru  { background-image: url("../img/flags/ru.gif"); }
.flag-sr  { background-image: url("../img/flags/sr.gif"); }
.flag-sv  { background-image: url("../img/flags/sv.gif"); }
.flag-th  { background-image: url("../img/flags/th.gif"); }
.flag-tr  { background-image: url("../img/flags/tr.gif"); }
.flag-vi  { background-image: url("../img/flags/vi.gif"); }
.flag-zh  { background-image: url("../img/flags/zh.gif"); }