.flag-pl  { background-image: url("../img/flags/pl.gif"); }
.flag-bg  { background-image: url("../img/flags/bg.gif"); }
.flag-cz  { background-image: url("../img/flags/cz.gif"); }
.flag-de  { background-image: url("../img/flags/de.gif"); }
.flag-gr  { background-image: url("../img/flags/gr.gif"); }
.flag-us  { background-image: url("../img/flags/us.gif"); }
.flag-es  { background-image: url("../img/flags/es.gif"); }
.flag-ir  { background-image: url("../img/flags/ir.gif"); }
.flag-fr  { background-image: url("../img/flags/fr.gif"); }
.flag-hu  { background-image: url("../img/flags/hu.gif"); }
.flag-jp  { background-image: url("../img/flags/jp.gif"); }
.flag-it  { background-image: url("../img/flags/it.gif"); }
.flag-kr  { background-image: url("../img/flags/kr.gif"); }
.flag-lt  { background-image: url("../img/flags/lt.gif"); }
.flag-mk  { background-image: url("../img/flags/mk.gif"); }
.flag-lt  { background-image: url("../img/flags/lt.gif"); }
.flag-nl  { background-image: url("../img/flags/nl.gif"); }
.flag-pl  { background-image: url("../img/flags/pl.gif"); }
.flag-pt  { background-image: url("../img/flags/pt.gif"); }
.flag-ro  { background-image: url("../img/flags/ro.gif"); }
.flag-ru  { background-image: url("../img/flags/ru.gif"); }
.flag-sr  { background-image: url("../img/flags/sr.gif"); }
.flag-sv  { background-image: url("../img/flags/sv.gif"); }
.flag-th  { background-image: url("../img/flags/th.gif"); }
.flag-tr  { background-image: url("../img/flags/tr.gif"); }
.flag-vi  { background-image: url("../img/flags/vi.gif"); }
.flag-cn  { background-image: url("../img/flags/cn.gif"); }