@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Anonymous Pro'), local('Anonymous Pro'), url(http://static.phalconphp.com/fonts/AnonymousPro/AnonymousPro.ttf) format('truetype');
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: bold;
  src: local('Anonymous Pro Bold'), local('Anonymous Pro Bold'), url(http://static.phalconphp.com/fonts/AnonymousPro/AnonymousProB.ttf) format('truetype');
}

