<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Phalcon PHP | High performance PHP framework</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Rosario" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/gh-fork-ribbon.css" type="text/css">
    <!--[if IE]>
    <link rel="stylesheet" href="/css/gh-fork-ribbon.ie.css" type="text/css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="PhalconPHP is a web framework delivered as a C extension providing high performance and lower resource consumption"/>
    <meta name="author" content="PhalconPHP Team" />
</head>
<body>

<div id="header">
    <h1>
        <a href="/"><img border="0" src="/img/logo-small-sp.png"></a>
    </h1>
    <div align="center">
        <div id="nav-main" role="navigation">
            <div class="menubar">
                <div class="nav-main-features nav-first">
                    <a href="/">HOME</a>
                </div>
                <div class="nav-main-features">
                    <a href="/download">DOWNLOAD</a>
                </div>
                <div class="nav-main-features">
                    <a href="/documentation">DOCUMENTATION</a>
                </div>
                <div class="nav-main-features">
                    <a href="/support">SUPPORT</a>
                </div>
                <div class="nav-main-features">
                    <a href="https://github.com/phalcon/cphalcon">GITHUB</a>
                </div>
                <div class="nav-main-features">
                    <a target="blog" href="http://blog.phalconphp.com/">BLOG</a>
                </div>
                <div class="nav-main-features">
                    <a href="/about">ABOUT</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/phalcon/cphalcon">Fork me on GitHub</a>
    </div>
</div>

<div align="center" id="fourohfour">
    <div class="sub-content">
        <strong>ERROR 404</strong>
        <br />
        <br />
        You have tried to access a page which does not exist or has been moved.
        <br />
        <br />
        Please click the links at the top navigation bar to navigate to other parts of the site, or
        if you wish to contact us, there is information in the About page.
        <br />
        <br />
        [ERROR]
    </div>
</div>

<div id="footer" align="center">
    <table class="footer-table">
        <tr>
            <td class="social tweets" align="left" valign="top">
                <p>
                    <label>Follow and Tweet</label>
                <div id="tweet">
                    <p>Please wait while our updates load</p>
                </div>
                <a href="https://twitter.com/phalconphp" class="twitter-follow-button" data-show-count="false">Follow @phalconphp</a>
                </p>
            </td>
            <td class="social" align="left" valign="top">
                <p>
                    <label>Social</label><br />
                    <a href="http://twitter.com/phalconphp">Follow us on Twitter</a><br />
                    <a href="http://www.facebook.com/pages/Phalcon/134230726685897">Facebook Page</a><br />
                    <a href="https://plus.google.com/102376109340560896457">Google+ Page</a><br />
                    <a href="http://blog.phalconphp.com">Official Blog</a><br />
                </p>
                <p>
                    <label>Support</label><br />
                    <a href="https://github.com/phalcon/cphalcon/issues">Issues on Github</a><br />
                    <a href="http://stackoverflow.com/questions/tagged/phalcon">StackOverflow</a><br />
                    <a href="https://groups.google.com/forum/#!forum/phalcon">Support and Community</a>
                </p>
                <p>
                    <label>Get Involved</label><br />
                    <a href="/about">About</a><br />
                    <a href="https://github.com/phalcon/cphalcon/wiki/Roadmap">Roadmap</a>
                </p>
            </td>
            <td class="subscribe" align="left" valign="top">
                <p>
                    <label>Get Monthly News</label><br />
                <form action="/index/subscribe/" method="post">                <table>
                    <tr>
                        <td><input type="text" placeholder="Your email address" size="25" name="email" id="email" value=""></td>
                        <td><input type="submit" value="Subscribe"></td>
                    </tr>
                </table>
                </form>                </p>
            </td>
        </tr>
    </table>
</div>

    <script src="/javascript/gs.js" type="text/javascript"></script>
    <script src="/javascript/twitter.min.js" type="text/javascript"></script>
</body>
</html>
