@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?3n7c2');
	src:url('/fonts/icomoon.eot?#iefix3n7c2') format('embedded-opentype'),
		url('/fonts/icomoon.woff?3n7c2') format('woff'),
		url('/fonts/icomoon.ttf?3n7c2') format('truetype'),
		url('/fonts/icomoon.svg?3n7c2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-organization:before {
	content: "\f037";
}

.icon-support:before {
	content: "\e600";
}

.icon-bubbles:before {
	content: "\e601";
}

.icon-facebook:before {
	content: "\e606";
}

.icon-twitter:before {
	content: "\e607";
}

.icon-youtube:before {
	content: "\e602";
}

.icon-github:before {
	content: "\e603";
}

.icon-arrow-down:before {
	content: "\f063";
}

.icon-asterisk:before {
	content: "\f069";
}

.icon-github-square:before {
	content: "\f092";
}

.icon-twitter2:before {
	content: "\f099";
}

.icon-facebook2:before {
	content: "\f09a";
}

.icon-github2:before {
	content: "\f09b";
}

.icon-github-alt:before {
	content: "\f113";
}

.icon-code:before {
	content: "\f121";
}

.icon-thumbs-up:before {
	content: "\f164";
}

.icon-stack-overflow:before {
	content: "\f16c";
}

.icon-users:before {
	content: "\e604";
}

